<h1>funcionou o basico</h1>
<form action="/Pessoa" method="post">
  <label for="nome">Qual é o seu nome</label>
  <input type="text" name="nome" />
  <label for="idade">Qual a sua idade</label>
  <input type="text" name="idade" />
  <input type="submit" value="cadastro" />
</form>