<h1>adicione um usuario</h1>
<form action="/user/add" method="POST" class="form">
  <label for="name">Digite o nome do usuario</label>
  <input type="text" name="name" placeholder="Digite o nome do usuario" />
  <label for="ocupations">Digite a profissão do usuario</label>
  <input
    type="text"
    name="ocupations"
    placeholder="Digite a profissão do usuario"
  />
  <input type="checkbox" name="newsletter" checked />
  <label for="newsletter">Deseja receber nossa newsletter?</label>
  <input type="submit" value="cadastrar" />
</form>